

<h1>{{title}}</h1>
<a href="/employers/create" class="btn btn-secondary">Add a New Employer</a>
<section class="row">
    {{#each employers}}
        <div class="card col-3 m-2">
            <div class="card-body text-center h-100">
                <h5 class="card-title">
                    <a href="/employers/edit/{{this._id}}">
                        {{this.name}}
                    </a>                   
                </h5>
                <p class="card-text">{{this.location}}</p>
                <a class="btn btn-warning" href="/employers/delete/{{this._id}}" 
                    onclick="return confirmDelete()">
                    Delete
                </a>
            </div>
        </div>
    {{/each}}
</section>